body {
	background-color: #F2EBD9;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	width: 120px;
	height: 100%;
	background-color: darkgray;
	padding: 5px;
}

button {
	border: 1px solid gray;
	border-radius: 6px;
	text-align: center;
	background-color: whitesmoke;
}

.NavBtn {
	display: block;
	margin-top: 15px;
	width: 115px;
	font-size: medium;
}
.NavBtn:hover {
	box-shadow: 0 0 10px black;
}

main {
	margin-left: 120px;
	padding: 5px 25px 20px;
}

footer {
	padding: 5px 15px;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
	background-color: dimgray;
	font-size: medium;
	text-align: center;
}

a {
	color: forestgreen;
}

li {
	margin-bottom: 0.5em;
}
li:last-child {
	margin-bottom: 0;
}

table {
	border: 2px black solid;
	margin-top: 1em;
}
tr {
	border: 1px solid;
}
td {
	width: 8em;
	border: 1px solid;
}
.TableInManual {
	font-family:'Times New Roman';
	font-size: x-large;
	text-align: center;
}
.TableInHobby {
	width: 90%;
	margin: 1em 2em;
}
.TableInHobby td {
	width: 4em;
	text-align: center;
}
.TableInHobby td:last-child {
	width: auto;
	padding-left: 1em;
	text-align: left;
}

p {
	width: 90%;
	padding: 0 2em;
	text-indent: 1em;
}

.SecTitle {
	font-weight: bold;
	font-style: italic;
	color: #337AB7;
}

.HighlightTxt {
	color: #DC143C;
	font-weight: bold;
}

.JournalName {
	font-weight: bold;
	font-style: italic;
}

.Comment {
	font-size: small;
	color: gray;
}

.MonoFont {
	font-family: monospace;
}

#Owner {
	margin-top: 10px;
}

@media screen and (max-width: 770px) {
	nav {
		width: 100%;
		height: 30px;
		padding: 0;
	}
	.NavBtn {
		display: inline;
		margin: 5px 5px;
		width:fit-content;
		font-size: small;
	}
	main {
		margin-left: 0px;
		padding: 40px 10px;
	}
	#Owner {
		margin-top: 0;
	}
	footer {
		font-size: small;
	}
	.TableInManual {
		font-size: medium;
	}
}